
<section class="plateaux"></section>

<section class="lancer-partie" *ngIf="!jeuLance">

  <div class="container shadow-lg">
    <div class="row mb-5">
      <div class="col">
        <h1>Bienvenue sur <div class="logo">&nbsp;</div></h1>
        <span class="subtitle">Arriveriez-vous &shy;à sauvez &shy;le <span>Big Ben</span> &shy;<span>à temps ?</span></span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <div class="nombre-joueurs">
          <button type="button" class="moins btn btn-primary" (click)="decrementerNombreJoueurs()" [ngClass]="{'invisible':nombreJoueurs===nombreJoueursMin }">-</button>
          <div class="valeur"><span>{{ nombreJoueurs }}</span> Joueurs</div>
          <button type="button" class="plus btn btn-primary" (click)="incrementerNombreJoueurs()" [ngClass]="{'invisible':nombreJoueurs===nombreJoueursMax }">+</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary btn-lg" (click)="afficherModalNomJoueur($event)">Lancer la partie</button>
      </div>
    </div>
  </div>

</section>

<!-- Modal -->
<div class="modal fade" role="dialog" id="modalNomJoueur" tabindex="-1" aria-labelledby="Boite de dialogue : définir le nom du joueur" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quel est votre nom ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="w-100">
            <input type="text" name="nomJoueur" aria-describedby="infoNomJoueur" class="w-100 form-control form-control-lg">
            <div id="infoNomJoueur" class="form-text">Vous être libre sur votre pseudo.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="definirNomJoueur($event)">Commencer</button>
      </div>
    </div>
  </div>
</div>
