@import "~bootstrap/scss/bootstrap-utilities";

.plateaux {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .plateau0 { grid-area: plateau0; }
  .plateau1 { grid-area: plateau1; }
  .plateau2 { grid-area: plateau2; }
  .plateau3 { grid-area: plateau3; }
  .plateau4 { grid-area: plateau4; }
  .plateau5 { grid-area: plateau5; }
  .plateau6 { grid-area: plateau6; }
  .plateau7 { grid-area: plateau7; }

  app-plateau-joueur {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    &[data-equipe="Terroriste"] {
      background: #7f0000;
      color: white;
    }

    &[data-equipe="Sherlock"] {
      background: #002171;
      color: white;
    }
  }
}

.plateaux[data-nombre-joueurs="4"] {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "plateau0 plateau1" "plateau2 plateau3";
}

.plateaux[data-nombre-joueurs="5"] {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "plateau0 plateau0 plateau1 plateau1" ". plateau2 plateau2 ." "plateau3 plateau3 plateau4 plateau4";
}

.plateaux[data-nombre-joueurs="6"] {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "plateau0 plateau0 plateau1 plateau1" ". plateau2 plateau2 plateau3 plateau3 ." "plateau4 plateau4 plateau5 plateau5";
}

.plateaux[data-nombre-joueurs="7"] {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . plateau0 plateau0 . ." "plateau1 plateau1 plateau2 plateau2 plateau3 plateau3" "plateau4 plateau4 plateau5 plateau5 plateau6 plateau6";
}

.plateaux[data-nombre-joueurs="8"] {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". plateau0 plateau0 plateau1 plateau1 ." "plateau2 plateau2 plateau3 plateau3 plateau4 plateau4" "plateau5 plateau5 plateau6 plateau6 plateau7 plateau7";
}


section.lancer-partie {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.25);
  background-image: url(../../assets/img/background.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background: white;
    padding: 1.5rem ;

    width: 100%;

    @include media-breakpoint-only(sm) {
      width: 75%;
    }

    @include media-breakpoint-only(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 45%;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .subtitle {
    word-break: normal;
    font-size: 2rem;
    font-family: 'Berkshire Swash', cursive;
    width: 75%;

    > span {
      white-space:nowrap;
    }
  }

  .logo {
    margin: 1rem auto;
    background-image: url(../../assets/img/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;

    $ratio: 0.7234;

    @include media-breakpoint-only(xs) {
      $width: 125px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }

    @include media-breakpoint-only(sm) {
      $width: 175px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }

    @include media-breakpoint-only(md) {
      $width: 225px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }

    @include media-breakpoint-only(lg) {
      $width: 275px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }

    @include media-breakpoint-only(xl) {
      $width: 325px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }

    @include media-breakpoint-only(xxl) {
      $width: 375px;
      $height: $width * $ratio;
      width: $width;
      height: $height;
    }
  }

  .nombre-joueurs {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1.5rem;

    > :not(:first-child) {
      margin-left: 1.5rem;
    }

    span {
      font-weight: bold;
    }
  }

}
